In [ ]:
from collections import namedtuple

Point2D = namedtuple('Point2D', 'x y')
pt = Point2D(2, 4)

In [2]:
pt

Point2D(x=2, y=4)

In [3]:
pt[0]

2

In [4]:
pt.x

2

In [12]:
id(pt)

2375635068312

In [13]:
pt = Point2D(100, pt.y)

In [14]:
pt

Point2D(x=100, y=4)

In [15]:
id(pt)

2375635158104

In [43]:
Stock = namedtuple('Stock', 'sym year month day open high low close')
wig = Stock('WIG', 2020, 11, 15, 2345, 2355, 2333, 2451)
wig

Stock(sym='WIG', year=2020, month=11, day=15, open=2345, high=2355, low=2333, close=2451)

In [44]:
*stay, change = wig
stay

['WIG', 2020, 11, 15, 2345, 2355, 2333]

In [45]:
stay.append(1333)
stay

['WIG', 2020, 11, 15, 2345, 2355, 2333, 1333]

In [86]:
wig = Stock(*stay)
wig

Stock(sym='WIG', year=2020, month=11, day=15, open=2345, high=2355, low=2333, close=1333)

In [49]:
wig

Stock(sym='WIG', year=2020, month=11, day=15, open=2345, high=2355, low=2333, close=1333)

In [50]:
id(wig)

2375632369224

In [71]:
 values = wig[3]
 values, type(values)

(15, int)

In [87]:
wig

Stock(sym='WIG', year=2020, month=11, day=15, open=2345, high=2355, low=2333, close=1333)

In [88]:
id(wig)

2375631057992

In [89]:
wig = wig._replace(sym='DAX')
wig

Stock(sym='DAX', year=2020, month=11, day=15, open=2345, high=2355, low=2333, close=1333)

In [90]:
id(wig)

2375631057224

In [117]:
Point2D._fields

('x', 'y', 'z', 'w', 't', 'a', 'b', 'c', 'h', 'd', 'dolar', 'dolar11')

In [108]:
# extenidng tuple

Point2D = namedtuple('Point2D', Point2D._fields + ('c',"h",'d'))

In [125]:
Point2D._fields

('x',
 'y',
 'z',
 'w',
 't',
 'a',
 'b',
 'c',
 'h',
 'd',
 'dolar',
 'dolar11',
 'dol4ar11')

In [120]:
Point2D = namedtuple('Point2D', Point2D._fields + ('dol4ar11',))

In [121]:
pt

Point2D(x=100, y=4)

In [127]:
pt = Point2D(23, 34, 45, 56, 67,23 ,56,87, 89,12, 33, 66, 44)

In [136]:
pt

Point2D(x=23, y=34, z=45, w=56, t=67, a=23, b=56, c=87, h=89, d=12, dolar=33, dolar11=66, dol4ar11=44)

In [149]:
pre = pt[0:5]
mid = pt[5:10]
post = pt[10:13]
pre, mid, post

((23, 34, 45, 56, 67), (23, 56, 87, 89, 12), (33, 66, 44))

In [150]:
*_1, c1 = pre
*_2, c2 = mid
c1, c2,

(67, 12)

In [141]:
change1, _1, _2, _3, _4, *rest1 = rest
change2, *rest2 = rest1
change1, change2

(67, 12)

In [160]:
pt = Point2D(*_1, 76, *_2, 21, *post)

In [161]:
pt

Point2D(x=23, y=34, z=45, w=56, t=76, a=23, b=56, c=87, h=89, d=21, dolar=33, dolar11=66, dol4ar11=44)

In [162]:
pt = pt._replace(t=67,d=12)

In [163]:
pt

Point2D(x=23, y=34, z=45, w=56, t=67, a=23, b=56, c=87, h=89, d=12, dolar=33, dolar11=66, dol4ar11=44)