In [1]:
class Point3D:
    def __init__(self, x,y,z):
        self.x = x 
        self.y = y
        self.z = z

In [2]:
pt = Point3D
pt

__main__.Point3D

In [5]:
from collections import namedtuple

In [76]:
Point2D = namedtuple('Point2D',['x','y','z'])

In [120]:
Point2D._source

AttributeError: type object 'Point2D' has no attribute '_source'

In [8]:
pt2 = Point2D(23,45)
pt2

Point2D(x=23, y=45)

In [14]:
pt3 = Point3D(45,56,23)
id(pt3)

1892002813768

In [10]:
pt3d = Point3D
pt3d

__main__.Point3D

In [15]:
id(pt3d)

1891974122536

In [17]:
pt3.x

45

In [18]:
pt3.x = 78

pee  = pt3

In [19]:
pee.x

78

In [20]:
pee.x = 11

In [21]:
pt3.x

11

In [27]:
isinstance('pee', ( Point3D))

False

In [65]:
class Point3D:
    def __init__(self, x,y,z):
        self.x = x 
        self.y = y
        self.z = z
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y}, z={self.z})'
    def __eq__(self, other):
        if isinstance(other, Point3D):
            return self.x == other.x and self.y == other.y and self.z == other.z
        else:
            return False

In [77]:
pt1 = Point2D(23,90,99)
pt3 = Point3D(23,90,99)
pt1

Point2D(x=23, y=90, z=99)

In [68]:
pt3

Point3D(x=23, y=90, z=99)

In [69]:
pt1

Point3D(x=23, y=90, z=99)

In [70]:
pt1 is pt3

False

In [71]:
pt1 == pt3

True

In [78]:
max(pt1)

99

In [79]:
max(pt3)

TypeError: 'Point3D' object is not iterable

In [89]:
p11 = (3, 5, 7, 1)
p22 = (4, 6, 7) # only this is included in list of tuples
p33 = (7, 8, 9, 9)
list(zip(p11, p22, p33))

[(3, 4, 7), (5, 6, 8), (7, 7, 9)]

In [91]:
sum(e[0]*e[1]*e[2] for e in zip(p11, p22, p33))

765

In [92]:
p11

(3, 5, 7, 1)

In [94]:
Vector = namedtuple('Vector', 'x y z')
v1 = Vector(2,4,5)
v2 = Vector(5,8,1)
v3 = Vector(3,5,3)

v1

Vector(x=2, y=4, z=5)

In [95]:
d = sum(e[0]*e[1]*e[2] for e in zip(v1, v2, v3))

In [98]:
def _product(x,y,z):
    return sum(e[0]*e[1]*e[2] for e in zip(x,y,z))

In [99]:
_product(v1, v2, v3)

205

In [100]:
type(_product(v1, v2, v3))

int

In [101]:
type(v1)

__main__.Vector

In [102]:
tuple(v1)

(2, 4, 5)

In [103]:
v1

Vector(x=2, y=4, z=5)

In [105]:
l = [3,5,2,1]
type(l)

list

In [107]:
type(tuple(l))

tuple

In [108]:
type(l)

list

In [118]:
 v1[0:2]

(2, 4)